site_name: "INI 14-822: Host Based Forensics"
site_url: https://www.andrew.cmu.edu/course/14-822/
site_author: Jarrett Booz, Chris Rodman
site_description: This course provides a systematic introduction to the field of digital forensics.
copyright: "&copy; 2026 Carnegie Mellon University"
extra_css:
  - stylesheets/extra.css
theme:
  name: material
  features:
    - navigation.instant
    - navigation.tracking
  icon:
    logo: material/school
  favicon: assets/favicon.png
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: red
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: light blue
      accent: red
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - toc:
      permalink: true
plugins:
  - search
  - social
  - git-revision-date-localized:
      type: date
